HELP.md
target/

### IntelliJ IDEA ###
.idea

### VS Code ###
.vscode/
/src/test/
logs
/src/main/resources/fileInstruct/
/src/main/resources/db/

#  rules ai agent
/planDoc/
/copilot/rules/
/.cursor/

# Docker
docker-compose.yml